<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converse</title>

  </head>
  
<nav>
  <ul>
        <li><img class="logo" src="https://converse.com.br/static/version1693882415/frontend/Converse/DefaultTheme/pt_BR/images/logo.svg" alt="Logo panela"></li>
        <li>Feminino</li>
        <li>Masculino</li>
        <li>Infantil</li>
        <li>Edição limitada</li>
        <li>Promoção</li>
        <li>Lançamentos</li>
    </ul>
</nav>


<div class="imgPrincipal">
  <img src="img_principal.webp" alt="imagem de tênis">
</div>


</br>
</br>

  <h3 class="titulo">Loja Converse SITE NÃO OFICIAL</h3>

<main>
  <%for (let produto of produtos){ %>
    <div class="card">
      <a href="http://localhost:3000/produto">
      <img src="<%= produto.imagem%>" alt="imagem de tênis"></a>
      <h2><%= produto.titulo %></h2>
      <p><%= produto.preco%></p>
  </div>
  <%} %>

    <!-- <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://converse.com.br/media/catalog/product/c/t/ct14550016_a_08x1_3.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="imagem de tênis"></a>
        <h2>Chuck 70 Seasonal Colors Azul</h2>
        <p>R$ 429,90</p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://converse.com.br/media/catalog/product/c/o/co03800009_a_08x1_6.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="imagem de tênis"></a>
        <h2>Run Star Hike Seasonal Colors Verde</h2>
        <p>R$ 529,90</p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://converse.com.br/media/catalog/product/c/t/ct19700002_a_08x1_2.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="imagem de tênis"></a>
        <h2>Chuck 70 Plus Preto</h2>
        <p>R$ 579,90</p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://converse.com.br/media/catalog/product/c/t/ct26130001_a_08x1_1.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="imagem de tênis"></a>
        <h2>Chuck 70 Prism Glitter Amarelo</h2>
        <p>R$ 549,90</p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://converse.com.br/media/catalog/product/c/t/ct04200071_a_08x1_1.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="imagem de tênis"></a>
        <h2>Chuck Taylor All Star Seasonal Colors Verde</h2>
        <p>R$ 249,90</p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://converse.com.br/media/catalog/product/a/0/a06029c_a_08x1_3.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="imagem de tênis"></a>
        <h2>Chuck 70 Plus Pride Branco</h2>
        <p>R$ 649,90</p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://converse.com.br/media/catalog/product/c/t/ct00010002_a_08x1_2_1.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="imagem de tênis"></a>
        <h2>Chuck Taylor All Star Preto</h2>
        <p>R$ 259,90</p>
    </div> -->
  
</main>

<footer>
  <p class="foot">Termos de Uso   Política de Privacidade</p>
</footer>
</body>
</html>