<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <!DOCTYPE html>
  <html>
  <head>
    <title>Projeto Express e EJS</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Converse</title>
  
    </head>
    
  <nav>
    <ul>
          <li><img class="logo" src="https://converse.com.br/static/version1693882415/frontend/Converse/DefaultTheme/pt_BR/images/logo.svg" alt="Logo panela"></li>
          <li>Feminino</li>
          <li>Masculino</li>
          <li>Infantil</li>
          <li>Edição limitada</li>
          <li>Promoção</li>
          <li>Lançamentos</li>
      </ul>
  </nav>
  

  
  <main>

      <div class="cardProduto">
          <img src="https://converse.com.br/media/catalog/product/1/5/150204c_a_08x1_1.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="imagem de tênis">
            <h2>Converse X Comme Des GarÇOns Play Chuck 70 Preto</h2>
              <p>R$ 899,90</p>
              <p>Siga seu coração com o tênis Converse x PLAY Comme des Garçons Chuck 70.</p>
              <p>ATENÇÃO:</p>
                <div >
                  <ul>
                    <li> Compra limitada a 1 par/ 1 modelo da coleção por cliente</li>
                    <li> Pagamento somente no crédito, débito ou pix</li>
                    <li> Esta coleção não faz parte de nenhuma promoção e nenhum cupom de desconto poderá ser utilizado</li>
                    <li> Coleção de edição limitada, trocas conforme disponibilidade de estoque</li>
                    <li> Os produtos adicionados no carrinho não representam uma reserva. Para confirmar sua compra, o pedido deve completar todos os passos até o check out</li>
                    <li> Compras que não cumprem com as condições mencionadas acima serão canceladas inclusive se houver confirmação de pagamento</li>
                    <li> Sugerimos que compre um número menor. Confira o nosso Guia de Tamanhos</li>
                  </ul>
                </div>
      </div>

    
  </main>
  
  <footer>
      As melhores receitas caseiras para você e sua família
  </footer>
  </body>
  </html>
</div>
</body>
</html>