body{
    background-color: #eeecec;
    font-family: "Rancho", cursive;
    margin: 0;
    padding: 0;

  }
  
  .logo{
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    width: 200px;
    height: 55px;
  }
  
  nav{
    top: 0;
    font-size: 17px;
    background-color: #ffffff;
    width: 1550px;
    height: 60px;
    filter: drop-shadow(0px 1px 1px #aeaeae);
    position: fixed;
    z-index: 1;
  }

  
  nav ul{
    list-style: none;
    margin: 0px 15px 50px;
    padding: 1px 0px;
  }
  
  nav li{
    display: inline;
    padding-right: 20px;
  }
  
  footer{
    font-size: 22px;
    color: #ffffff;
    background-color: #eeecec;
    padding: 10px 40px;
  }
  
  main{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-evenly;
  }
  
  .card{
    margin: 20px;
    background-color: rgb(171, 166, 166);
    display: inline-block;
    overflow: hidden;
    height: 430px;
    width: 250px;
  }
  
  .card h2{
    padding: 5px;
    margin: 0;
    font-size: 17px;
  }
  
  .card p{
    padding: 5px;
    margin: 0;
    font-size: 17px;
  }
  
  .card img{
    width: 250px;
    height: 330px;
  }

  header{
    background-color: aquamarine;
    align-items: center;
  }
  
  .titulo{
    text-align: center;
  }

  .imgPrincipal img{
    margin: 20px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    overflow: hidden;
    height: 710px;
    width: 1425px;
  }

  .cardProduto{
    margin: 20px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    overflow: hidden;
    height: 1000px;
    width: 600px;
  }

  .cardProduto img{
    width: 600px;
    height: 700px;
  }

  .cardProduto h2{
    padding: 5px;
    margin: 0;
    font-size: 17px;
  }
  
  .cardProduto p{
    padding: 5px;
    margin: 0;
    font-size: 17px;
  }
  .foot{
    
  }