body{
    background-color: #de4b4b;
    font-family: "Rancho", cursive;
    margin: 0;
    padding: 0;
    z-index: 2;
  }
  
  .logo{
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    width: 200px;
    height: 55px;
  }
  
  header{
    top: 0;
    font-size: 15px;
    color: white;
    background-color: #eeecec;
    width: 1550px;
    height: 50px;
    text-align: center;
    position: fixed;

  }

  .carrousel{
    z-index: 1;
  }
  
  nav{
    top: 5;
    font-size: 17px;
    background-color: #ffffff;
    width: 1550px;
    height: 60px;
    filter: drop-shadow(0px 1px 1px #aeaeae);
    position: fixed;
  }
  
  nav ul{
    list-style: none;
    margin: 0px 15px 50px;
    padding: 1px 0px;
  }
  
  nav li{
    display: inline;
    padding-right: 20px;
  }
  
  footer{
    font-size: 22px;
    color: #ffffff;
    background-color: #eeecec;
    padding: 10px 40px;
  }
  
  main{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-evenly;
  }
  
  .card{
    margin: 20px;
    background-color: rgb(255, 27, 27);
    display: inline-block;
    overflow: hidden;
    height: 430px;
    width: 250px;
  }
  
  .card h2{
    padding: 5px;
    margin: 0;
    font-size: 17px;
  }
  
  .card p{
    padding: 5px;
    margin: 0;
    font-size: 17px;
  }
  
  .card img{
    width: 250px;
    height: 330px;
  }